EXPO_PUBLIC_MS_TENANT_ID=
EXPO_PUBLIC_MS_CLIENT_ID=
# Should match the redirect URI registered in Azure AD app registration
EXPO_PUBLIC_MS_REDIRECT_URI_ANDROID="msauth.com.ssodemo.app://auth"
EXPO_PUBLIC_MS_REDIRECT_URI_IOS="msauth://com.ssodemo.app/8rCtSAywqQ%2Fwvf5llPRKNJOqVzc%3D"
